===Required modules===
PySimpleGUI (use PySimpleGUIQt if you plan on using the QT interface)
discord
requests

To install these:
pip3 install PySimpleGUI discord requests

===Required packages===
kdialog
python3-tkinter
libnotify-bin
